body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #e6ffe6;
}

.landing-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  flex-direction: column;
}

.overlay {
  max-width: 900px;
  width: 100%;
}

.welcome-line {
  font-size: 2.4rem;
  color: #FFF6F5;
  margin: 0;
  
}

.animated-title {
  font-size: 3.5rem;
  font-weight: bold;
  background: linear-gradient(270deg, #ff0080, #7928ca, #00bcd4); /* Gradient colors */
  background-size: 600% 600%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 4s ease infinite; /* Animation */
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.subtitle {
  font-size: 1.2rem;
  color: #FFF6F5;
  margin-bottom: 30px;
  font-weight: bold;
}

.button-group {
  margin: 20px 0;
}

.login-button {
  background-color: #2982e7;
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #5f66a1;
}

/* Feature cards */
.feature-section {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.feature-card {
  background-color: #fff;
  border: 2px solid #030c35;
  border-radius: 16px;
  width: 250px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card h3 {
  color: #111;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.feature-card p {
  color: #333;
  font-size: 0.95rem;
}
